.frame-page-lesson-container {
    padding: 20px 8px;
}

.frame-page-lesson {
    padding-bottom: 700px;
    position: relative;
}
.frame-page-lesson #learning_path_main {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#learning_path_main {
    clear: both;
    position: relative;
}

#learning_path_left_zone {
    min-height: 0px;
    height: 100%;
    width: 300px;
}
#learning_path_main.folded #learning_path_left_zone{
    display: none;
    width: 0px;
}
#learning_path_main.folded #learning_path_left_zone #toc_id{
    display: none;
}

#hide_bar {
    bottom: 0px;
    left: 300px;
    position: absolute;
    right: auto;
    top: 0px;
    width: 15px;
}
#hide_bar table {
    background-image: url("/main/img/hide0.png");
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#learning_path_main.folded #hide_bar {
    left: 0;
}
#learning_path_main.folded #hide_bar table {
    background-image: url("/main/img/hide2.png");
}

#learning_path_right_zone {
    margin-left: 15px;
    min-height: 0px;
    height: 100%;
    position: relative;
    width: 625px;
    /* Safari Scroll hack */
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    /* end Safari Scroll hack */
}
#learning_path_right_zone iframe {
    height: 100%;
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
}
#learning_path_main.folded #learning_path_right_zone{
    width: 925px;
}

.profile-block-mobile {
    display: none;
}

@media (min-width: 1200px) {
    #learning_path_left_zone {
        width: 300px;
    }
    #learning_path_main.folded #learning_path_left_zone{
        display: none;
        width: 0px;
    }
    #learning_path_right_zone {
        width: 855px;
    }
    #learning_path_main.folded #learning_path_right_zone{
        display: block;
        width: 1155px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #learning_path_left_zone {
        width: 200px;
    }
    #hide_bar {
        width: 20px;
    }
    #learning_path_right_zone {
        width: 504px;
    }
    #learning_path_main.folded #learning_path_right_zone{
        width: 704px;
    }
  #hide_bar {
    bottom: 0px;
    left: 200px;
    position: absolute;
    right: auto;
    top: 0px;
    width: 15px;
  }
}

@media (max-width: 767px) {
    .profile-block-mobile {
        display: block;
    }

    .frame-page-lesson {
        padding: 0;
    }

    .frame-page-lesson #learning_path_main {
        position: static;
    }

    #learning_path_left_zone {
        width: 95%;
    }
    #learning_path_main.folded #learning_path_left_zone{
        width: 0;
    }
    #hide_bar {
        display: block;
        left: auto;
        right: 0;
        width: 5%;
    }
    #learning_path_main.folded #hide_bar {
        display: block;
        width: 5%;
    }
    #learning_path_right_zone {
        margin-left: 0;
        position: static;
    }
    #learning_path_main.folded #learning_path_right_zone{
        display: block;
        width: 95%;
        margin-left: 5%;
    }
    #learning_path_main #learning_path_right_zone iframe {
        display: none;
    }
    #learning_path_main.folded #learning_path_right_zone iframe {
        background-color: #FFF;
        display: block;
        position: static;
        right: 0;
        top: 0;
    }
    #learning_path_main a#mobile-back-to-lessons {
        background-color: #EEE;
        background-image: url("/main/img/hide2.png");
        background-position: 5px center;
        background-repeat: no-repeat;
        display: none;
        font-weight: bold;
        padding: 5px 5px 5px 16px;
    }
    #learning_path_main.folded a#mobile-back-to-lessons {
        display: block;
        background-image: url("/main/img/hide0.png");
    }
}

@media (max-width: 480px) {

}
