# ide
.idea/*
.ide/*
nbproject/*

# files
main/inc/conf/auth.conf.php
main/inc/conf/configuration.dist.php
main/inc/conf/configuration.php
main/inc/conf/events.conf.php
main/inc/conf/mail.conf.php
main/inc/conf/portfolio.conf.php
main/inc/conf/profile.conf.php
courses/*
data/*

# Temp directories
archive/*
!archive/.htaccess

# User images
main/upload/users/*
!main/upload/users/index.html

# Logs and databases #
*.log

# Xapian indexes directory
searchdb/*
!searchdb/index.html


