#module-lession .modulo-ico {
    background: url("../images/modulos-ingles.png") no-repeat scroll 10px 20px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 90px;
    left: 0;
    margin: auto;
    position: relative;
    top: 0;
    width: 90px;
}
#module-lession .modulo-ico-open {
    background: url("../images/modulos-ingles.png") no-repeat scroll 10px 10px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 95px;
    left: 0;
    margin: auto;
    position: relative;
    top: 0;
    width: 100px;
}
#module-lession .modulo-ico-closed {
    background: url("../images/modulos-ingles.png") no-repeat scroll -75px 10px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 95px;
    left: 0;
    margin: auto;
    position: relative;
    top: 0;
    width: 100px;
}
#module-lession .state-icon-completed {
    background: url("../images/estados-iconos.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 95px;
    margin: auto;
    width: 100px;
}
#module-lession .state-icon-closed{
    background: transparent url("../images/estados-iconos.png") no-repeat;
    background-position: -210px 0px;
    cursor: pointer;
    display: block;
    height: 95px;
    width: 100px;
    /*position: absolute;*/
    margin:auto;
}
#module-lession .span2{
    width: 14.0%;
}
.padding-container{
	padding-top: 3em;
	padding-bottom: 3em;
}
.padding-row{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}
.row-fluid .span2 {
    width: 17.5%;
}
#module-lession {
}
