.scormpage {
    height: 100%;
}
.scormpage .menu {
    width: 180px;
    float: left;
    margin: 1px;
    padding: 0px;
    margin-top: 0px;
    padding-top: 0px;
    font-size: small;
}
.lp_toc {
    background-color: white;
    height: 380px;
    width: 99%;
    border-right: 1px none;
}

.inner_lp_toc {
    overflow: auto;
    background-color: white;
    height: auto;
}

.inner_lp_toc .scorm_item a {
    color: #FFF;
    font-size: 12px;
    margin-right: 1px;
    padding-bottom: 2px;
    text-decoration: none;
    font-family: Helvetica,Arial,sans-serif;
}

.inner_lp_toc .scorm_item a.chapter_module {
    font-weight: normal;
    margin-right: 10px;
}

.inner_lp_toc .scorm-status-completed{
    background-color: #666573;
    background-image: url("images/check.png") !important;
    background-position: 190px center !important;
    background-repeat: no-repeat;
}

.inner_lp_toc .scorm_item_highlight {
    /*background-color: #d80100; */ /* Color Rojo */
    background-color: #0134A1;  /* Color Azul */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: url(images/flecha.png);
    background-position: 15px center;
    background-repeat: no-repeat;
}

.inner_lp_toc .scorm_item_highlight a {
    color:#fff;
    margin-right: 1px;
    text-decoration: none;
    padding: 0.2em;
}

.inner_lp_toc .scorm_item {
    font-size: 12px;
    /*margin-left: 10px;
    margin-right:10px;*/
    margin-top: 5px;
    margin-bottom: 5px;
}

.inner_lp_toc .scorm_item_1 {
    /*background-color:#CCCCCC;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 40px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* background:#FDFDFD; */
}

.inner_lp_toc .scorm_item_2 {
    /*background-color: #CCCCCC; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    padding-left: 40px;
    text-decoration: none;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.inner_lp_toc .scorm-level-0 a{
    color: #fff;
    font-size: 15px;
}

.inner_lp_toc .scorm-level-0 a:focus{
    outline-offset: 2px;
}

.inner_lp_toc .scorm-status-not-attempted{
     background-color: #CCCCCC;
}
.inner_lp_toc .scorm-status-not-attempted a{
    color: #000;
}

.inner_lp_toc .scorm_title {
    background:#ccc;
    font-size: 14px;
    color: #444;
}
.inner_lp_toc .scorm_title_text {
    margin-left: 10px;
}
.inner_lp_toc .scorm_status_img {
    margin:0px;
    margin-left: -10px;
    width:10px;
}
.lp_navigation {
    overflow: auto;
    background-color: white;
    height: 44px;
    width:180px;
    padding-top: 4px;
    padding-bottom:0px;
    border: none;
    margin-top: -18px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}
.lp_navigation_elem {
    padding-left: 15px;
    padding-top: 0px;
}
/*.scormpage .menu */
.lp_navigation_elem .progresstext {
    margin-top: -20px;
}
/*.scormpage .menu */
.lp_navigation_elem .buttons {
    margin-left: 0px;
    margin-right: 0em;
    margin-top: 0.4em;
}
.scormpage .menu .notification {
    background-color: white;
    height: 50px;
}
.scormpage .menu .notification .message {
    background-color: white;
    height: 50px;
    width: 180px;
    border: none;
}
.scormpage .content {
    /*float: left;
    width: 60%;*/
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 180px;
    background-color: white;
}
.iframe {
    border: 0px solid black;
    height: 100%;
    width: 95%;
    margin: 0px;
    padding-right: 0px;
    overflow: auto;
    vertical-align: top;
}
.scormpage .footer {
    clear: both;
}
#image_preview {
    padding-left: 17px;
}
#msg_div_id {
    padding-left: 17px;
    padding-top: 4px;
}
.scorm_title_text {
    margin-left: 10px;
    font-weight: bold;
    background:#eee;
    font-size: 16px;
    color: #444;
    width: 89%;
    padding: 1px 5px 3px 8px;
}
#learning_path_main .Mostrar{
        margin-left: 270px;
        height: 100%;
}
#learning_path_main .Ocultar{
        margin-left: 15px;
        height: 100%;
}

@media (min-width: 321px) and (max-width: 480px) {
    
    .inner_lp_toc .scorm-level-0 a {
        font-size: 12px;
    }
    .inner_lp_toc .scorm_item_2 {
        padding: 10px 35px 10px 25px;  
    }
    .inner_lp_toc .scorm_item_1 {
        padding: 10px 35px 10px 25px;
    }
    .inner_lp_toc .scorm_item_highlight {
        padding: 10px 35px 10px 25px;
    }
    .inner_lp_toc .scorm-status-completed {
        
        background-image: url("images/check.png") !important;
        background-position: 160px center !important;
        background-repeat: no-repeat;
    }
    
    #learning_path_main .Mostrar{
        margin-left: 220px;
        height: 100%;
    }
    #learning_path_main .Ocultar{
        margin-left: 15px;
        height: 100%;
    }
}
