<!DOCTYPE html>
<html lang="es">
<head>
	<title>V-Learning</title>
	<meta charset="utf-8"/>
	<meta name="description" content="V-Learning en Chamilo en Responsive Design"/>
	<link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div id="main" class="container">
<header>
	<div class="row">
		<div id="header_left" class="span4">
			<h3>Incio</h3>
		</div> 
		<div id="header_center" class="span3">
			<h1>Logotipo</h1>
		</div>
		<div id="header_right" class="span5">
			<h3>ayuda</h3>
		</div>
	</div>
</header>
</div>
</body>
</html>